#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 99999;
  transition: opacity 0.5s ease;
}

#preloader img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

#content {
  display: none;
}

@media (max-width: 768px) {
  #preloader img {
    width: 270vw;
    height: 270vh;
    object-fit: contain;
  }
}
